<div class="row">
  <div class="col-md-4">
    <h2>Utilisateurs</h2>
  </div>
  <div class="col-md-8 text-right">
    <button mat-raised-button color="primary" (click)="openCreateModal(createModal)">+ Ajouter</button>
  </div>
</div>

<div class="wrapper m2-card">
  <mat-form-field class="ml-3 mt-1">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtres">
  </mat-form-field>
  <mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef>#</mat-header-cell>
      <mat-cell *matCellDef="let user">{{user.id}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="mail">
      <mat-header-cell *matHeaderCellDef>Mail</mat-header-cell>
      <mat-cell *matCellDef="let user">{{user.mail}}</mat-cell>

    </ng-container>

    <ng-container matColumnDef="firstname">
      <mat-header-cell *matHeaderCellDef>Prénom</mat-header-cell>
      <mat-cell *matCellDef="let user">{{user.firstname}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="lastname">
      <mat-header-cell *matHeaderCellDef>Nom</mat-header-cell>
      <mat-cell *matCellDef="let user">{{user.lastname}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="role">
      <mat-header-cell *matHeaderCellDef>Rôle</mat-header-cell>
      <mat-cell *matCellDef="let user">{{user.role === 'ADMIN' ? 'Administrateur' : user.role === 'USER' ? 'Utilisateur' : ''}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef class="justify-content-center">Actions</mat-header-cell>
      <mat-cell *matCellDef="let user" class="actions-icons d-flex flex-column justify-content-center">
        <div *ngIf="currentUser.id === user.id">
          <span class="badge">C'est vous !</span>
        </div>
        <div class="d-flex flex-row justify-content-center w-100">
          <div class="action"><i [routerLink]="[user.id]" class="fas fa-eye" placement="bottom" ngbTooltip="Détails"></i></div>
          <div class="action"><i (click)="openEditModal(user, editModal)" class="fas fa-edit" placement="bottom"
              ngbTooltip="Editer"></i></div>
          <div class="action"><i (click)="openDeleteModal(user, deleteModal)" class="fas fa-times-circle close-icon"
              placement="bottom" ngbTooltip="Supprimer"></i></div>
        </div>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

  </mat-table>
  <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
</div>
<div class="text-right">
  <mat-form-field class="mr-3">
    <mat-select [(value)]="currentExport">
      <mat-option *ngFor="let export of exports" [value]="export.value">
        {{export.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="exportFile()">
    <i class="fa" [ngClass]="'fa-' + currentExport.toLowerCase()"></i>
    Exporter
  </button>
</div>


<ngx-loading [show]="loading" [config]="config"></ngx-loading>

<ng-template #createModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Créer un utilisateur</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="createForm" (ngSubmit)="onCreateSubmit()">
      <div class="form-group">
        <label for="mail">Mail</label>
        <input type="text" id="mail" formControlName="mail" class="form-control"
          [ngClass]="{ 'is-invalid': createSubmitted && cf.mail.errors }" />
        <div *ngIf="createSubmitted && cf.mail.errors" class="invalid-feedback">
          <div *ngIf="cf.mail.errors.required">Le mail est requis</div>
        </div>
      </div>
      <div class="form-group">
        <label for="firstname">Prénom</label>
        <input type="text" id="firstname" formControlName="firstname" class="form-control"
          [ngClass]="{ 'is-invalid': createSubmitted && cf.firstname.errors }" />
        <div *ngIf="createSubmitted && cf.firstname.errors" class="invalid-feedback">
          <div *ngIf="cf.firstname.errors.required">Le prénom est requis</div>
        </div>
      </div>
      <div class="form-group">
        <label for="lastname">Nom</label>
        <input type="text" id="lastname" formControlName="lastname" class="form-control"
          [ngClass]="{ 'is-invalid': createSubmitted && cf.lastname.errors }" />
        <div *ngIf="createSubmitted && cf.lastname.errors" class="invalid-feedback">
          <div *ngIf="cf.lastname.errors.required">Le nom est requis</div>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Mot de passe</label>
        <input type="password" id="password" formControlName="password" class="form-control"
          [ngClass]="{ 'is-invalid': createSubmitted && cf.password.errors }" />
        <div *ngIf="createSubmitted && cf.password.errors" class="invalid-feedback">
          <div *ngIf="cf.password.errors.required">Le mot de passe est requis</div>
        </div>
      </div>
      <div class="form-group">
        <label for="confirmPassword">Confirmation de mot de passe</label>
        <input type="password" id="confirmPassword" formControlName="confirmPassword" class="form-control"
          [ngClass]="{ 'is-invalid': createSubmitted && cf.confirmPassword.errors }" />
        <div *ngIf="createSubmitted && cf.confirmPassword.errors" class="invalid-feedback">
          <div *ngIf="cf.confirmPassword.errors.required">La confirmation de mot de passe est requise</div>
        </div>
      </div>
      <div class="label-info text-muted">
        <i class="fas fa-info-circle"></i>
        <span>Le mot de passe doit contenir au moins 8 caractères sans espace comportant au moins
          un chiffre, une minuscule,majuscule et un des caractères spéciaux : @#$%^&+=.</span>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button mat-raised-button color="primary" submit="true" [disabled]="loading"
      (click)="onCreateSubmit()">Créer</button>
  </div>
</ng-template>

<ng-template #editModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Editer l'utilisateur</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="editForm" (ngSubmit)="onEditSubmit()">
      <div class="form-group">
        <label for="firstname">Prénom</label>
        <input type="text" id="firstname" formControlName="firstname" class="form-control"
          [ngClass]="{ 'is-invalid': editSubmitted && ef.firstname.errors }" [value]="userSelected.firstname" />
        <div *ngIf="editSubmitted && ef.firstname.errors" class="invalid-feedback">
          <div *ngIf="ef.firstname.errors.required">Le prénom est requis</div>
        </div>
      </div>
      <div class="form-group">
        <label for="lastname">Nom</label>
        <input type="text" id="lastname" formControlName="lastname" class="form-control"
          [ngClass]="{ 'is-invalid': editSubmitted && ef.lastname.errors }" [value]="userSelected.lastname" />
        <div *ngIf="editSubmitted && ef.lastname.errors" class="invalid-feedback">
          <div *ngIf="ef.lastname.errors.required">Le nom est requis</div>
        </div>
      </div>
      <div class="form-group" *ngIf="userSelected.id !== currentUser.id">
        <label for="role">Rôle</label>
        <select class="form-control" id="role" formControlName="role"
          [ngClass]="{ 'is-invalid': editSubmitted && ef.role.errors }" [value]="userSelected.role">
          <option value="USER">Utilisateur</option>
          <option value="ADMIN">Administrateur</option>
        </select>
        <div *ngIf="editSubmitted && ef.role.errors" class="invalid-feedback">
          <div *ngIf="ef.role.errors.required">Le rôle est requis</div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button mat-raised-button color="primary" submit="true" [disabled]="loading"
      (click)="onEditSubmit()">Editer</button>
  </div>
</ng-template>

<ng-template #deleteModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Supprimer l'utilisateur</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div *ngIf="userSelected.id === currentUser.id" class="text-danger font-weight-bold">
      <i class="fas fa-exclamation-triangle mr-2"></i>Il s'agit de votre compte !
    </div>
    <div>Etes-vous sûr de supprimer {{ userSelected.firstname }} {{ userSelected.lastname }} ?</div>
  </div>
  <div class="modal-footer">
    <button mat-raised-button color="primary" submit="true" [disabled]="loading"
      (click)="onDeleteSubmit()">Supprimer</button>

  </div>
</ng-template>