@import '../../../variables.scss';

.export-container {
  display: inline-block;
  text-align: center;
  cursor: pointer;

  & + .export-container {
    margin-left: 20px;
  }

  & .export-icon {
    color: $primary;
    &.icon-pdf,
    &.icon-csv {
      font-size: 30px;
    }

    &.icon-json {
      font-size: 24px;
    }
  }

  .export-label {
      font-weight: bold;
      color: $primary;
  }
}

.actions-icons {
    font-size: 16px;

    & .action {
        cursor: pointer;
        color: $primary;
    }

    & .action + .action {
        margin-left: 10px;
    }

    & .close-icon {
        color: red;
    }
}

.label-info {
    margin-bottom: 10px;
    font-size: 14px;

    & i {
        margin-right: 5px;
    }
}

.badge {
  background-color: $primary;
  color: white;
  font-weight: 500;
  border-radius: .5rem;
}