<div class="row">
    <div class="col-md-4">
        <h2>Profil</h2>
    </div>
    <div class="col-md-8 text-right">
        <button class="mr-2" mat-raised-button color="primary" (click)="openEditPasswordModal(editPasswordModal)">Changer le mot de passe</button>
        <button mat-raised-button color="primary" (click)="openEditModal(editModal)">Editer</button>
    </div>
</div>

<div class="m2-card col-md-5 p-3">
    <table class="profile-infos">
        <tr>
            <td class="profile-label">Nom complet</td>
            <td class="profile-value">{{ user.firstname }} {{ user.lastname }}</td>
        </tr>
        <tr>
            <td class="profile-label">Mail</td>
            <td class="profile-value">{{ user.mail }}</td>
        </tr>
        <tr>
            <td class="profile-label">Rôle</td>
            <td class="profile-value">{{user.role === 'ADMIN' ? 'Administrateur' : user.role === 'USER' ? 'Utilisateur' : ''}}</td>
        </tr>
    </table>
</div>

<ngx-loading [show]="loading" [config]="config"></ngx-loading>

<ng-template #editModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Editer mon profil</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="editForm" (ngSubmit)="onEditSubmit()">
            <div class="form-group">
                <label for="firstname">Prénom</label>
                <input type="text" id="firstname" formControlName="firstname" class="form-control"
                    [ngClass]="{ 'is-invalid': editSubmitted && ef.firstname.errors }"
                    [value]="user.firstname" />
                <div *ngIf="editSubmitted && ef.firstname.errors" class="invalid-feedback">
                    <div *ngIf="ef.firstname.errors.required">Le prénom est requis</div>
                </div>
            </div>
            <div class="form-group">
                <label for="lastname">Nom</label>
                <input type="text" id="lastname" formControlName="lastname" class="form-control"
                    [ngClass]="{ 'is-invalid': editSubmitted && ef.lastname.errors }" [value]="user.lastname" />
                <div *ngIf="editSubmitted && ef.lastname.errors" class="invalid-feedback">
                    <div *ngIf="ef.lastname.errors.required">Le nom est requis</div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button mat-raised-button color="primary" submit="true" [disabled]="loading"
            (click)="onEditSubmit()">Editer</button>
    </div>
</ng-template>

<ng-template #editPasswordModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Changer le mot de passe</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="editPasswordForm" (ngSubmit)="onEditPasswordSubmit()">
            <div class="form-group">
                <label for="password">Mot de passe</label>
                <input type="password" id="password" formControlName="password" class="form-control"
                    [ngClass]="{ 'is-invalid': editPasswordSubmitted && epf.password.errors }" />
                <div *ngIf="editPasswordSubmitted && epf.password.errors" class="invalid-feedback">
                    <div *ngIf="epf.password.errors.required">Le mot de passe est requis est requis</div>
                </div>
            </div>
            <div class="form-group">
                <label for="confirmPassword">Confirmation de mot de passe</label>
                <input type="password" id="confirmPassword" formControlName="confirmPassword" class="form-control"
                    [ngClass]="{ 'is-invalid': editPasswordSubmitted && epf.confirmPassword.errors }" />
                <div *ngIf="editPasswordSubmitted && epf.confirmPassword.errors" class="invalid-feedback">
                    <div *ngIf="epf.confirmPassword.errors.required">La confirmation de mot de passe est requise</div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button mat-raised-button color="primary" submit="true" [disabled]="loading"
            (click)="onEditPasswordSubmit()">Editer</button>
    </div>
</ng-template>