<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                    Oops!</h1>
                <h2>
                    403 Forbidden</h2>
                <div class="error-details">
                    Sorry, an error has occured, Requested forbidden!
                </div>
                <div class="error-actions">
                    <button (click)="redirect()" class="btn btn-primary btn-lg">Retour à l'accueil</button>
                </div>
            </div>
        </div>
    </div>
</div>
