<div class="row">
    <div class="col-md-4">
        <h2>Machine à café</h2>
    </div>
    <div class="col-md-8 text-right">
        <button class="mr-2" *ngIf="isAdmin()" class="mr-2" mat-raised-button color="primary"
            (click)="openEditModal(editModal)">Editer</button>
        <button mat-raised-button color="primary" (click)="openDeleteModal(deleteModal)">Supprimer</button>
    </div>
</div>

<div class="m2-card col-md-5 p-3">
    <table class="details-infos">
        <tr>
            <td class="details-label">URL complète</td>
            <td class="details-value">
                <a
                    href="{{ coffeeMachine.url }}:{{ coffeeMachine.port }}">{{ coffeeMachine.url }}:{{ coffeeMachine.port }}</a>
            </td>
        </tr>
        <tr>
            <td class="details-label">Statut</td>
            <td class="details-value">
                <div class="d-flex align-items-center">
                    <span>{{ coffeeMachine.active ? 'Actif' : 'Inactif' }}</span>
                    <div class="ml-1 status" [ngClass]="coffeeMachine.active ? 'on' : 'off'"></div>
                </div>
            </td>
        </tr>
        <tr>
            <td class="details-label">Version</td>
            <td class="details-value">
                <div class="d-flex align-items-center">
                    <span>{{ coffeeMachine.version ? coffeeMachine.version : 'Aucune version car jamais démarrée' }}</span>
                </div>
            </td>
        </tr>
        <tr>
            <td class="details-label">Stock</td>
            <td class="details-value">
                <i [ngClass]="['stock fas', coffeeMachine.outOfStock ? 'fa-exclamation-triangle stockOut' : 'fa-check stockOk']"></i>
            </td>
        </tr>
    </table>
</div>

<div class="row mt-3">
    <div class="col-md-4">
        <h2>Produits</h2>
    </div>
    <div class="col-md-8 text-right" *ngIf="coffeeMachine.active">
        <button mat-raised-button color="primary" (click)="openCreateProductModal(createProductModal)">+
            Ajouter</button>
    </div>
    <div class="col-md-8 text-right" *ngIf="!coffeeMachine.active">
        <button mat-raised-button disabled color="primary">+ Ajouter</button>
    </div>
</div>

<div class="wrapper m2-card">
    <mat-form-field class="ml-3 mt-1">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtres">
    </mat-form-field>
    <mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef>#</mat-header-cell>
            <mat-cell *matCellDef="let product">{{product.id}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="libelle">
            <mat-header-cell *matHeaderCellDef>Libelle</mat-header-cell>
            <mat-cell *matCellDef="let product">{{product.libelle}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="quantity">
            <mat-header-cell *matHeaderCellDef>Quantité</mat-header-cell>
            <mat-cell *matCellDef="let product">{{product.quantity}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef class="justify-content-center">Actions</mat-header-cell>
            <mat-cell *matCellDef="let product" class="actions-icons text-center justify-content-center">
                <div class="action">
                    <i *ngIf="coffeeMachine.active" (click)="openDeleteProductModal(product, deleteProductModal)"
                    class="fas fa-times-circle close-icon" placement="bottom" ngbTooltip="Supprimer"></i>
                    <i *ngIf="!coffeeMachine.active" class="fas fa-times-circle close-icon fa-disabled"
                    placement="bottom" ngbTooltip="La machine à café est inactive"></i>
                </div>

            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
</div>
<div class="text-right" *ngIf="isAdmin()">
    <mat-form-field class="mr-3">
      <mat-select [(value)]="currentExport">
        <mat-option *ngFor="let export of exports" [value]="export.value">
          {{export.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="exportFile()">
      <i class="fa" [ngClass]="'fa-' + currentExport.toLowerCase()"></i>
      Exporter
    </button>
  </div>

<ngx-loading [show]="loading" [config]="config"></ngx-loading>

<ng-template #editModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Editer la machine à café</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="editForm" (ngSubmit)="onEditSubmit()">
            <div class="form-group">
                <label for="port">Port</label>
                <input type="number" id="port" formControlName="port" class="form-control"
                    [ngClass]="{ 'is-invalid': editSubmitted && ef.port.errors }" />
            </div>
            <div class="form-group">
                <label for="url">URL</label>
                <input type="text" id="url" formControlName="url" class="form-control"
                    [ngClass]="{ 'is-invalid': editSubmitted && ef.url.errors }" />
                <div *ngIf="editSubmitted && ef.url.errors" class="invalid-feedback">
                    <div *ngIf="ef.url.errors.required">L'URL est requise</div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button mat-raised-button color="primary" submit="true" [disabled]="loading"
            (click)="onEditSubmit()">Editer</button>
    </div>
</ng-template>

<ng-template #deleteModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Supprimer la machine a café</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <span>Etes-vous sûr de supprimer la machine <a
                href="{{ coffeeMachine.url }}:{{ coffeeMachine.port }}">{{ coffeeMachine.url }}:{{ coffeeMachine.port }}</a>
            ?</span>
    </div>
    <div class="modal-footer">
        <button mat-raised-button color="primary" submit="true" [disabled]="loading"
            (click)="onDeleteSubmit()">Supprimer</button>
    </div>
</ng-template>


<ng-template #createProductModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Ajouter un produit</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="createProductForm" (ngSubmit)="onCreateProductSubmit()">
            <div class="form-group">
                <label for="libelle">Nom</label>
                <input type="text" id="libelle" formControlName="libelle" class="form-control"
                    [ngClass]="{ 'is-invalid': createProductSubmitted && cpf.libelle.errors }" />
                <div *ngIf="createProductSubmitted && cpf.libelle.errors" class="invalid-feedback">
                    <div *ngIf="cpf.libelle.errors.required">Le nom est requis</div>
                </div>
            </div>
            <div *ngIf="coffeeMachine.version === '1.1'" class="form-group">
                <label for="quantity">Quantité</label>
                <input type="number" id="quantity" formControlName="quantity" class="form-control"
                    [ngClass]="{ 'is-invalid': createProductSubmitted && cpf.quantity.errors }" />
                <div *ngIf="createProductSubmitted && cpf.quantity.errors" class="invalid-feedback">
                    <div *ngIf="cpf.quantity.errors.required">La quantité est requise et doit être un entier</div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button mat-raised-button color="primary" submit="true" [disabled]="loading"
            (click)="onCreateProductSubmit()">Ajouter</button>
    </div>
</ng-template>

<ng-template #deleteProductModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Supprimer le produit</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div *ngIf="coffeeMachine.version === '1.0'">
            <span>Etes-vous sûr de supprimer le produit {{productSelected.libelle}} ?</span>
        </div>
        <div *ngIf="coffeeMachine.version === '1.1'">
            <form [formGroup]="deleteProductForm" (ngSubmit)="onDeleteProductSubmit()">
                <div class="form-group">
                    <label for="libelle">Nom</label>
                    <input type="text" id="libelle" readonly class="form-control" [value]="productSelected.libelle"/>
                </div>
                <div class="form-group">
                    <label for="quantity">Quantité</label>
                    <input type="number" id="quantity" formControlName="quantity" class="form-control"
                        [ngClass]="{ 'is-invalid': deleteProductSubmitted && dpf.quantity.errors }" />
                    <div *ngIf="deleteProductSubmitted && dpf.quantity.errors" class="invalid-feedback">
                        <div *ngIf="dpf.quantity.errors.required">La quantité est requise et doit être un entier</div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <button mat-raised-button color="primary" submit="true" [disabled]="loading"
            (click)="onDeleteProductSubmit()">Supprimer</button>
    </div>
</ng-template>
