@import '../../../../variables.scss';
.actions-icons {
    font-size: 16px;

    & .action {
        cursor: pointer;
        color: $primary;
    }

    & .action + .action {
        margin-left: 10px;
    }

    & .close-icon {
        color: red;
    }
}

.details-infos {
    td {
        padding: 8px;
    }

    tr + tr {
        border-top: 1px solid #eee;
    }

    .details-label {
        font-weight: bold;
    }
}

.status {
    border-radius: 100%;
    width: 20px; 
    height: 20px;
    
    &.on {
      background: green;
    }
    
    &.off {
      background: red;
    }
}

.stock {
    font-size: 18px;

    &.stockOut {
        color: red;
    }

    &.stockOk {
        color: green;
    }
}

.fa-disabled {
    opacity: 0.5;
}
