<div class="row">
    <div class="col-md-4">
      <h2>Machines à café</h2>
    </div>
    <div class="col-md-8 text-right" *ngIf="isAdmin()">
      <button mat-raised-button color="primary" (click)="openCreateModal(createModal)">+ Ajouter</button>
    </div>
  </div>
  
  <div class="wrapper m2-card">
    <mat-form-field class="ml-3 mt-1">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtres">
    </mat-form-field>
    <mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef>#</mat-header-cell>
        <mat-cell *matCellDef="let coffeemachine">{{coffeemachine.id}}</mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="port">
        <mat-header-cell *matHeaderCellDef>Port</mat-header-cell>
        <mat-cell *matCellDef="let coffeemachine">{{coffeemachine.port}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="url">
        <mat-header-cell *matHeaderCellDef>URL</mat-header-cell>
        <mat-cell *matCellDef="let coffeemachine">{{coffeemachine.url}}</mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef>Statut</mat-header-cell>
        <mat-cell *matCellDef="let coffeemachine">
            {{ coffeemachine.active ? 'Actif' : 'Inactif' }} 
            <div class="ml-1 status" [ngClass]="coffeemachine.active ? 'on' : 'off'"></div>
        </mat-cell>
      </ng-container>

    <ng-container matColumnDef="version">
      <mat-header-cell *matHeaderCellDef>Version</mat-header-cell>
      <mat-cell *matCellDef="let coffeemachine">
          {{ coffeemachine.version ? coffeemachine.version : 'Aucune version car jamais démarrée' }} 
      </mat-cell>
    </ng-container>

      <ng-container matColumnDef="stock">
        <mat-header-cell *matHeaderCellDef>Stock</mat-header-cell>
        <mat-cell *matCellDef="let coffeemachine">
          <i [ngClass]="['stock fas', coffeemachine.outOfStock ? 'fa-exclamation-triangle stockOut' : 'fa-check stockOk']"></i>
        </mat-cell>
      </ng-container>

  
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef class="justify-content-center">Actions</mat-header-cell>
        <mat-cell *matCellDef="let coffeemachine" class="actions-icons text-center justify-content-center">
          <div class="action"><i class="fas fa-eye" [routerLink]="[coffeemachine.id]" placement="bottom" ngbTooltip="Détails"></i></div>
          <div class="action" *ngIf="isAdmin()"><i (click)="openEditModal(coffeemachine, editModal)" class="fas fa-edit" placement="bottom"
              ngbTooltip="Editer"></i></div>
          <div class="action"><i (click)="openDeleteModal(coffeemachine, deleteModal)" class="fas fa-times-circle close-icon"
              placement="bottom" ngbTooltip="Supprimer"></i></div>
        </mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
  </div>
  
  
  <ngx-loading [show]="loading" [config]="config"></ngx-loading>
  
  <ng-template #createModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Créer une machine à café</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="createForm" (ngSubmit)="onCreateSubmit()">
        <div class="form-group">
          <label for="port">Port</label>
          <input type="number" id="port" formControlName="port" class="form-control"
            [ngClass]="{ 'is-invalid': createSubmitted && cf.port.errors }" />
          <div *ngIf="createSubmitted && cf.port.errors" class="invalid-feedback">
            <div *ngIf="cf.port.errors.required">Le port est requis et doit être un entier</div>
          </div>
        </div>
        <div class="form-group">
          <label for="url">URL</label>
          <input type="text" id="url" formControlName="url" class="form-control"
            [ngClass]="{ 'is-invalid': createSubmitted && cf.url.errors }" />
          <div *ngIf="createSubmitted && cf.url.errors" class="invalid-feedback">
            <div *ngIf="cf.url.errors.required">L'URL est requise</div>
          </div>
        </div>
        <div class="label-info text-muted">
          <i class="fas fa-info-circle"></i>
          <span>Pour localhost, il faut mettre l'URL http://127.0.0.1.</span>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button mat-raised-button color="primary" submit="true" [disabled]="loading"
        (click)="onCreateSubmit()">Créer</button>
    </div>
  </ng-template>
  
  <ng-template #editModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Editer la machine à café</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="editForm" (ngSubmit)="onEditSubmit()">
            <div class="form-group">
              <label for="port">Port</label>
              <input type="text" id="port" formControlName="port" class="form-control"
                [ngClass]="{ 'is-invalid': createSubmitted && ef.port.errors }" />
            </div>
            <div class="form-group">
              <label for="url">URL</label>
              <input type="text" id="url" formControlName="url" class="form-control"
                [ngClass]="{ 'is-invalid': createSubmitted && ef.url.errors }" />
              <div *ngIf="createSubmitted && ef.url.errors" class="invalid-feedback">
                <div *ngIf="ef.url.errors.required">L'URL est requise</div>
              </div>
            </div>
          </form>
    </div>
    <div class="modal-footer">
      <button mat-raised-button color="primary" submit="true" [disabled]="loading"
        (click)="onEditSubmit()">Editer</button>
    </div>
  </ng-template>
  
  <ng-template #deleteModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Supprimer la machine a café</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <span>Etes-vous sûr de supprimer la machine <a href="{{ coffeeMachineSelected.url }}:{{ coffeeMachineSelected.port }}">{{ coffeeMachineSelected.url }}:{{ coffeeMachineSelected.port }}</a> ?</span>
    </div>
    <div class="modal-footer">
      <button mat-raised-button color="primary" submit="true" [disabled]="loading"
        (click)="onDeleteSubmit()">Supprimer</button>
    </div>
  </ng-template>