@import '../../../variables.scss';
.actions-icons {
    font-size: 16px;

    & .action {
        cursor: pointer;
        color: $primary;
    }

    & .action + .action {
        margin-left: 10px;
    }

    & .close-icon {
        color: red;
    }
}

.status {
  border-radius: 100%;
   width: 10px; 
  height: 10px;
  
  &.on {
    background: green;
  }
  
  &.off {
    background: red;
  }
}

.label-info {
    margin-bottom: 10px;
    font-size: 14px;

    & i {
        margin-right: 5px;
    }
}

.stock {
  font-size: 18px;

  &.stockOut {
    color: red;
  }
  
  &.stockOk {
    color: green;
  }
}
