@import '../../../variables.scss';

.login-page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    & .login-container {
        width: 100%;
        max-width: 300px;
        border-radius: 4px;

        & .login-header {
            margin-bottom: 15px;
            font-weight: bold;
            font-size: 40px;
        }

        & .login-body {
            padding: 25px 10px 10px 10px;
            background-color: white;
            border-top: 10px solid $primary;
            border-radius: 4px;
            box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
        }
    }
}
