<div class="login-page-container" #myLoadingTemplate>
    <div class="login-container">
        <div class="login-header text-center">Se connecter</div>
        <div class="login-body">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="mail">Mail</label>
                    <input type="text" id="mail" formControlName="mail" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.mail.errors }" />
                    <div *ngIf="submitted && f.mail.errors" class="invalid-feedback">
                        <div *ngIf="f.mail.errors.required">Le mail est requis</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password">Mot de passe</label>
                    <input type="password" id="password" formControlName="password" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Le mot de passe est requis</div>
                    </div>
                </div>
                <div class="form-group">
                    <button mat-raised-button color="primary"  submit="true" [disabled]="loading">Se connecter</button>
                </div>
                <div *ngIf="error" class="alert alert-danger">{{error}}</div>
            </form>
        </div>
    </div>
</div>
<ngx-loading [show]="loading" [config]="config"></ngx-loading>
