<div class="row">
    <div class="col-md-4">
        <h2>Détails</h2>
    </div>
    <div class="col-md-8 text-right">
        <button class="mr-2" mat-raised-button color="primary" (click)="openEditModal(editModal)">Editer</button>
        <button mat-raised-button color="primary" (click)="openDeleteModal(deleteModal)">Supprimer</button>
    </div>
</div>

<div class="m2-card col-md-5 p-3">
    <table class="profile-infos">
        <tr>
            <td class="profile-label">Nom complet</td>
            <td class="profile-value">{{ user?.firstname }} {{ user?.lastname }}</td>
        </tr>
        <tr>
            <td class="profile-label">Mail</td>
            <td class="profile-value">{{ user?.mail }}</td>
        </tr>
        <tr>
            <td class="profile-label">Rôle</td>
            <td class="profile-value">
                {{user?.role === 'ADMIN' ? 'Administrateur' : user?.role === 'USER' ? 'Utilisateur' : ''}}</td>
        </tr>
    </table>
</div>

<ngx-loading [show]="loading" [config]="config"></ngx-loading>

<ng-template #editModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Editer l'utilisateur</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="editForm" (ngSubmit)="onEditSubmit()">
            <div class="form-group">
                <label for="firstname">Prénom</label>
                <input type="text" id="firstname" formControlName="firstname" class="form-control"
                    [ngClass]="{ 'is-invalid': editSubmitted && ef.firstname.errors }" />
                <div *ngIf="editSubmitted && ef.firstname.errors" class="invalid-feedback">
                    <div *ngIf="ef.firstname.errors.required">Le prénom est requis</div>
                </div>
            </div>
            <div class="form-group">
                <label for="lastname">Nom</label>
                <input type="text" id="lastname" formControlName="lastname" class="form-control"
                    [ngClass]="{ 'is-invalid': editSubmitted && ef.lastname.errors }" />
                <div *ngIf="editSubmitted && ef.lastname.errors" class="invalid-feedback">
                    <div *ngIf="ef.lastname.errors.required">Le nom est requis</div>
                </div>
            </div>
            <div class="form-group" *ngIf="user?.id !== currentUser?.id">
                <label for="role">Rôle</label>
                <select class="form-control" id="role" formControlName="role"
                    [ngClass]="{ 'is-invalid': editSubmitted && ef.role.errors }" [value]="user.role">
                    <option value="USER">Utilisateur</option>
                    <option value="ADMIN">Administrateur</option>
                </select>
                <div *ngIf="editSubmitted && ef.role.errors" class="invalid-feedback">
                    <div *ngIf="ef.role.errors.required">Le rôle est requis</div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button mat-raised-button color="primary" submit="true" [disabled]="loading"
            (click)="onEditSubmit()">Editer</button>
    </div>
</ng-template>

<ng-template #deleteModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Supprimer l'utilisateur</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div *ngIf="user.id === currentUser.id" class="text-danger font-weight-bold">
            <i class="fas fa-exclamation-triangle mr-2"></i>Il s'agit de votre compte !
        </div>
        <div>Etes-vous sûr de supprimer {{ user.firstname }} {{ user.lastname }} ?</div>
    </div>
    <div class="modal-footer">
        <button mat-raised-button color="primary" submit="true" [disabled]="loading"
            (click)="onDeleteSubmit()">Supprimer</button>

    </div>
</ng-template>