mat-sidenav-container, mat-sidenav-content, mat-sidenav {
    height: 100%;
}
 
mat-sidenav {
    width: 250px;
}
 
main {
    padding: 10px;
}

body {
    background-color: #f8f9fb;
}

.body-content {
    margin-left: 100px;
    width: calc(100% - 115px);
    height: 100%;
    overflow: auto;
    padding: 20px 30px;
}