<div class="register-page-container">
  <div class="register-container">
    <div class="register-header text-center">S'inscrire</div>
    <div class="register-body">
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="mail">Mail</label>
          <input type="text" id="mail" formControlName="mail" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.mail.errors }" />
          <div *ngIf="submitted && f.mail.errors" class="invalid-feedback">
            <div *ngIf="f.mail.errors.required">Le mail est requis</div>
          </div>
        </div>
        <div class="form-group">
          <label for="firstname">Prénom</label>
          <input type="text" id="firstname" formControlName="firstname" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.firstname.errors }" />
          <div *ngIf="submitted && f.firstname.errors" class="invalid-feedback">
            <div *ngIf="f.firstname.errors.required">Le prénom est requis</div>
          </div>
        </div>
        <div class="form-group">
          <label for="lastname">Nom</label>
          <input type="text" id="lastname" formControlName="lastname" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.lastname.errors }" />
          <div *ngIf="submitted && f.lastname.errors" class="invalid-feedback">
            <div *ngIf="f.lastname.errors.required">Le nom est requis</div>
          </div>
        </div>
        <div class="form-group">
          <label for="password">Mot de passe</label>
          <input type="password" id="password" formControlName="password" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Le mot de passe est requis</div>
          </div>
        </div>
        <div class="form-group">
          <label for="confirmPassword">Confirmation de mot de passe</label>
          <input type="password" id="confirmPassword" formControlName="confirmPassword" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
          <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
            <div *ngIf="f.confirmPassword.errors.required">La confirmation de mot de passe est requise</div>
          </div>
        </div>
        <div class="label-info text-muted">
          <i class="fas fa-info-circle"></i>
          <span>Le mot de passe doit contenir au moins 8 caractères sans espace comportant au moins
          un chiffre, une minuscule,majuscule et un des caractères spéciaux : @#$%^&+=.</span>
        </div>
        <div class="form-group">
          <button mat-raised-button color="primary"  submit="true" [disabled]="loading">S'inscrire</button>
        </div>
        <div *ngIf="error" class="alert alert-danger">{{error}}</div>
      </form>
    </div>
  </div>
</div>
<ngx-loading [show]="loading" [config]="config"></ngx-loading>