<h2>Météo</h2>
<div class="m2-card" style="width: 890px; height:342px;">
    <iframe seamless width="888" height="336" frameborder="0" [src]="url | safe"></iframe>
</div>


<!-- <h2>Est-ce que c'est bientôt le week end ?</h2> -->