<div *ngIf="isAuthenticated; then authenticated else notAuthenticated"></div>
<ng-template #authenticated>
    <ul class="nav m2-navbar">
        <li routerLinkActive="active"><a placement="right" ngbTooltip="Accueil" routerLink="home"><i class="fas fa-home"></i></a></li>
        <li routerLinkActive="active"><a placement="right" ngbTooltip="Machines à café" routerLink="coffeemachines"><i class="fas fa-coffee"></i></a></li>
        <li *ngIf="isAdmin()" routerLinkActive="active"><a placement="right" ngbTooltip="Utilisateurs" routerLink="users"><i class="fas fa-users"></i></a></li>
        <li routerLinkActive="active"><a placement="right" ngbTooltip="Profil" routerLink="profile"><i class="fas fa-user"></i></a></li>
        <li (click)="logout()"><a placement="right" ngbTooltip="Se déconnecter"><i class="fas fa-sign-out-alt"></i></a></li>
        <li><a placement="right" ngbTooltip="Swagger" href="http://localhost:8080/swagger-ui.html" target="_blank"><i class="fas fa-code"></i></a></li>
    </ul>
</ng-template>
<ng-template #notAuthenticated>
    <ul class="nav m2-navbar">
        <li routerLinkActive="active"><a placement="right" ngbTooltip="Accueil" routerLink="home"><i class="fas fa-home"></i></a></li>
        <li routerLinkActive="active"><a placement="right" ngbTooltip="S'inscrire" routerLink="register"><i class="far fa-registered"></i></a></li>
        <li routerLinkActive="active"><a placement="right" ngbTooltip="Se connecter" routerLink="login"><i class="fas fa-sign-in-alt"></i></a></li>
        <li><a placement="right" ngbTooltip="Swagger" href="http://localhost:8080/swagger-ui.html" target="_blank"><i class="fas fa-code"></i></a></li>
    </ul>
</ng-template>