@import '../../../variables.scss';

.m2-navbar {
  position: fixed;
  z-index: 1;
  overflow: hidden;
  width: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid grey;
  height: 100%;
  background-color: white;
  box-shadow: 0.2px 0px 4px #666;

  & > li {
    margin: 10px;

    &:last-child {
      flex-grow: 1;
      display: flex;
      align-items: flex-end;
    }

    & + li {
      margin: 10px;
    }

    &.active a,
    .active a:hover {
      background-color: rgba($primary, 0.2);
      border-right: 4px solid $primary;
    }

    & a {
      cursor: pointer;
      width: 50px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 4px;

      &:hover {
          text-decoration: none;
          border-radius: 4px;
          background-color: rgba($primary, 0.2);
      }

      & i {
        color: $primary;
        font-size: 1.5em;
      }
    }
  }
}
