/* You can add global styles to this file, and also import other style files */
@import "~ngx-toastr/toastr";
@import './variables.scss';

/* for sidenav to take a whole page */
html,
body {
  margin: 0;
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #f8f9fb;

}

.m2-card {
  background: #fff;
  border: 1px solid #e2e2e2;
  border-top: 6px solid $primary;
  border-radius: 4px;
}

.tooltip {
  position: fixed !important;
}
